*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


body{
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 98vw;
}

.with-blur-backdrop {

    background-color: rgba(0, 0, 0, 0.774);
  
    -webkit-backdrop-filter: blur(5px);
  
    backdrop-filter: blur(5px);
  
    height: inherit;
  
  }
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    margin: 1% 20%;
}
  
  /* Hide the images by default */
  .mySlides {
    display: none;
}
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(238, 139, 74);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
  /* Create a top navigation bar with a black background color  */
  .topnav {
    background-color: #a56f5481;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav h2 {
    float: left;
    color: #080808;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
  }
  .topnav a{
    float: right;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
  } 
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #f5b771;
    color: black;
  }
  .topnav{
    margin: 0%;
  }